version: "3.9"
services:
  neo4j:
    image: neo4j:5.19
    ports:
      - "7474:7474"   # Browser
      - "7687:7687"   # Bolt
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data

  flaskapp:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - neo4j
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
    volumes:
      - .:/app  # Mount project folder
      # Mount only the CSV input directory so Java can see dynamically created files
      - ./marburg-project/dataset/german/input:/app/marburg-project/dataset/german/input

volumes:
  neo4j_data:
